@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;0,800;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: transparent;
  /* Safari, iOS */
  -webkit-touch-callout: none;
  /* Safari, iOS */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-user-select: none;
  user-select: none;
}

textarea:focus, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

body {
  position: relative;
  margin: 0 auto !important;
  max-width: 600px;
  font-family: "Quicksand", Nunito, Roboto, "Helvetica Neue", Arial;
}

.mobile body {
  max-width: 100%;
}

/*==========================================================================*/
.page-view {
  background-image: url(/images/bg-camon-page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

#img-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
#img-bottom img {
  display: block;
}

.logo {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
}
.logo img {
  max-height: 150px;
}

.mobile body {
  max-width: 100%;
}

.form-insert {
  width: 85%;
  margin: auto;
}
.form-insert .form-group-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}
.form-insert .form-group-inline.--row-1 .form-control {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  text-transform: capitalize;
}
.form-insert .form-group-inline.--row-2 .form-group {
  width: 30%;
}
.form-insert .form-group-inline.--row-2 .form-control {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}
.form-insert .label {
  font-family: "Playball", "Quicksand", "Nunito", "Roboto", "Helvetica Neue", Arial;
  font-size: 1.4rem;
  padding-right: 0.5rem;
}
.form-insert select.form-control {
  width: 100%;
}
.form-insert .form-control {
  font-size: 1.25rem;
  border-radius: 3rem;
  text-align: center;
  padding: 0.25rem;
  border: 1px solid #000;
  font-family: "Lobster", "Nunito", "Roboto", "Helvetica Neue", Arial;
}

.box-error {
  min-height: calc(3vw * 1.5);
}
.box-error #txt-error {
  display: none;
  font-size: 3vw;
  text-align: center;
  color: #ed2042;
  font-family: "Lobster", "Nunito", "Roboto", "Helvetica Neue", Arial;
}

.envlope-wrapper {
  height: 220px;
}
.envlope-wrapper .reset {
  text-align: center;
}
.envlope-wrapper .reset button {
  font-weight: 800;
  font-style: normal;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px #ffefd9;
  border-radius: 4px;
  color: #ffefd9;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
  cursor: pointer;
}
.envlope-wrapper .reset button:hover {
  background-color: #ffefd9;
  color: #fff;
}

#envelope {
  position: relative;
  width: 200px;
  height: 120px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  background-color: #ffc473;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
#envelope .heart-center {
  width: 30px;
  height: 30px;
  background: #ff3838;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: heartbeat 1.4s linear infinite;
          animation: heartbeat 1.4s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
}
#envelope .heart-center::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #ff3838;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
#envelope .heart-center::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 30px;
  height: 30px;
  background: #ff3838;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}
#envelope .front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}
#envelope .flap {
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 52px solid transparent;
  /* a little smaller */
  border-top: 68px solid #ffc473;
  /* a little larger */
  -webkit-transform-origin: top;
          transform-origin: top;
  pointer-events: none;
}
#envelope .pocket {
  border-left: 100px solid #ffefd9;
  border-right: 100px solid #ffefd9;
  border-bottom: 60px solid #ffe9ca;
  border-top: 60px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#envelope .letter {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}
#envelope .letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(215, 227, 239, 0.7)), to(#d7e3ef));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(215, 227, 239, 0.7) 55%, #d7e3ef 100%);
}
#envelope .words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 14%;
  background-color: #eeeff0;
}
#envelope .words.line1 {
  top: 15%;
  width: 20%;
  height: 7%;
}
#envelope .words.line2 {
  text-align: center;
  top: 30%;
}
#envelope .words.line3 {
  top: 50%;
}
#envelope .words.line4 {
  top: 70%;
}
#envelope.open .flap {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: z-index 0.6s, -webkit-transform 0.4s ease;
  transition: z-index 0.6s, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, z-index 0.6s;
  transition: transform 0.4s ease, z-index 0.6s, -webkit-transform 0.4s ease;
  z-index: 1;
}
#envelope.open .letter {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  transition: z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  transition: transform 0.4s 0.6s ease, z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  z-index: 2;
}
#envelope.close .flap {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: z-index 1s, -webkit-transform 0.4s 0.6s ease;
  transition: z-index 1s, -webkit-transform 0.4s 0.6s ease;
  transition: transform 0.4s 0.6s ease, z-index 1s;
  transition: transform 0.4s 0.6s ease, z-index 1s, -webkit-transform 0.4s 0.6s ease;
  z-index: 5;
}
#envelope.close .letter {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: z-index 1s, -webkit-transform 0.4s ease;
  transition: z-index 1s, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, z-index 1s;
  transition: transform 0.4s ease, z-index 1s, -webkit-transform 0.4s ease;
  z-index: 1;
}
#envelope.close .heart {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
#envelope .hearts {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 2;
}
#envelope .a1 {
  left: 20%;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
#envelope .a2 {
  left: 55%;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
#envelope .a3 {
  left: 10%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
#envelope .heart {
  position: absolute;
  bottom: 0;
  right: 10%;
  pointer-events: none;
}
#envelope .heart:before, #envelope .heart:after {
  position: absolute;
  content: "";
  left: 30px;
  top: 0;
  width: 30px;
  height: 48px;
  background: #d00000;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  pointer-events: none;
}
#envelope .heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
            transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
            transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -1000px;
  }
}
@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -1000px;
  }
}
@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
#content-2 {
  width: 80%;
  margin: auto;
}
#content-2 .txt-1 {
  text-align: center;
  font-size: clamp(2rem, 12vw, 3.875rem);
  line-height: 2;
  color: #ff5757;
  font-family: "Coiny", Nunito, Roboto, "Helvetica Neue", Arial;
}
#content-2 .txt-2 {
  text-align: center;
  font-size: clamp(1rem, 3.5vw, 1.5rem);
  font-weight: 400;
  color: #725757;
  font-family: "Agbalumo", Nunito, Roboto, "Helvetica Neue", Arial;
}
#content-2 .txt-2 span {
  color: #800505;
}
#content-2 .txt-date {
  background-color: #ffb0b0;
  border-radius: 1rem;
  padding: 1.25rem 0.5rem;
  text-align: center;
  margin: 3rem auto;
  font-size: clamp(1.75rem, 7vw, 2.5rem);
  font-family: "Paytone One", Nunito, Roboto, "Helvetica Neue", Arial;
}
#content-2 .txt-date span {
  color: #a3172e;
  font-size: clamp(2rem, 10vw, 3.75rem);
}
#content-2 .txt-3 {
  text-align: center;
  font-size: clamp(1rem, 2.75vw, 1.5rem);
  font-family: "Agbalumo", Nunito, Roboto, "Helvetica Neue", Arial;
}

/*# sourceMappingURL=styleSearch.css.map */